.header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 2rem;
  background-color: #747bff;
}

.header > img {
  max-width: 80px;
}

.header > h1 {
  margin: 0 auto;
}
